@tailwind base;
@tailwind components;
@tailwind utilities;


header{
    height: 299px;
}

#bg-image{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0)), url('../images/image-hero-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#main-container{
    height: auto;
    width: 327px;
}
#third-container{
    opacity: 0.4;
    background: linear-gradient(to top, lightgray, white);
}

/* Close Modal Hover Styling */
svg{
    color: #fff;
}
  
/* Hamburger Styling */
.open{
    display: block;
}
.close{
    display: none;
}
.menu-bg{
    background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    height: 100vh;
}

/* Second || Donation Menu */

#modal-menu{
    width: 327px;
}
#con-one{
    width: 277px;
}
/* Input Radio Size */
input[type="radio"] {
  transform: scale(1.5);
}

/* Thank You Page */
#thankYou{
    width: 328px;
}

/* When Active */
.active{
    border-color: hsl(176, 50%, 47%);
}

/* When Failed */
.red{
    border-color: red;
}
#errMessage{
    margin-right: 10px;
    font-style: italic;
    font-size: 10px;
}

/* Overlay */
.overlay{
    position: fixed;
    background-color: black;
    opacity: .5;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    width: 150%;
    height: 100%;
    backdrop-filter: blur(5px);
}
.overlay-two{
    position: fixed;
    background-color: black;
    opacity: .5;
    z-index: 30;
    top: 0;
    left: 0;
    bottom: 0;
    width: 150%;
    height: 100%;
    backdrop-filter: blur(5px);
}
.overlay-three{
    position: fixed;
    background-color: black;
    opacity: .5;
    z-index: 40;
    top: 0;
    left: 0;
    bottom: 0;
    width: 150%;
    height: 100%;
    backdrop-filter: blur(5px);
}

/* Desktop Design */
#desktop-menu{
    width: 350px;
}

@media (min-width: 976px) {
    header{
        height: 550px;
    }
  #bg-image{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)), url('../images/image-hero-desktop.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
  #main-container{
    width: 730px;
  }
  #modal-menu{
    width: 738px;
  }
  #thankYou{
    width: 479px;
  }
}